.fullbox, [fullbox] {
  margin: 0 auto;
  padding: 0 0.075rem;
}

.pagebox, .container, [container],[pagebox] {
  margin: 0 auto;
  padding: 0 0.66rem;
}

.row, [row] {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.flex-middle, [flex-middle] {
  align-items: center;
}

.flex-item, [flex-item] {
  flex: 0 1 auto;
}

.row-nowrap, [row-nowrap] {
  flex-flow: row nowrap;
}

.row-space, [row-space] {
  justify-content: space-around;
}

.cell, [cell] {
  padding:0px 0.5rem;
  flex: 1;
  box-sizing: border-box;
}

.c-0, [c-0] {
  width: 0%;
  box-sizing: border-box;
}

.c-0-5, [c-0-5] {
  width: 4.1666%;
  box-sizing: border-box;
}

.c-1, [c-1] {
  width: 8.333333%;
  box-sizing: border-box;
}

.c-2, [c-2] {
  width: 16.666666%;
  box-sizing: border-box;
}

.c-3, [c-3] {
  width: 25%;
  box-sizing: border-box;
}

.c-4, [c-4] {
  width: 33.333333%;
  box-sizing: border-box;
}

.c-5, [c-5] {
  width: 41.666666%;
  box-sizing: border-box;
}

.c-6, [c-6] {
  width: 50%;
  box-sizing: border-box;
}

.c-7, [c-7] {
  width: 58.333333%;
  box-sizing: border-box;
}

.c-8, [c-8] {
  width: 66.666666%;
  box-sizing: border-box;
}

.c-9, [c-9] {
  width: 75%;
  box-sizing: border-box;
}

.c-10, [c-10] {
  width: 83.333333%;
  box-sizing: border-box;
}

.c-11, [c-11] {
  width: 91.666666%;
  box-sizing: border-box;
}

.c-12, [c-12] {
  width: 100%;
  box-sizing: border-box;
}

.c-1-5, [c-1-5] {
  width: 12.49999%;
  box-sizing: border-box;
}

.c-2-5, [c-2-5] {
  width: 20.83333%;
  box-sizing: border-box;
}

.c-3-5, [c-3-5] {
  width: 29.16666%;
  box-sizing: border-box;
}

.c-4-5, [c-4-5] {
  width: 37.49999%;
  box-sizing: border-box;
}

.c-5-5, [c-5-5] {
  width: 45.83333%;
  box-sizing: border-box;
}

.c-6-5, [c-6-5] {
  width: 54.166666%;
  box-sizing: border-box;
}

.c-7-5, [c-7-5] {
  width: 62.4%;
  box-sizing: border-box;
}

.c-8-5, [c-8-5] {
  width: 70.83333%;
  box-sizing: border-box;
}

.c-9-5, [c-9-5] {
  width: 79.16666%;
  box-sizing: border-box;
}

@media only screen and (max-width: 759px) {
  .hide-for-small, [hide-for-small] {
    visibility: hidden;
    display: none;
  }

  .show-large-only, [show-large-only] {
    visibility: hidden;
    display: none;
  }

  .show-middle-plus, [show-middle-plus] {
    visibility: hidden;
    display: none;
  }

  .sm-1, [sm-1] {
    width: 8.333333%;
    box-sizing: border-box;
  }
  
  .sm-2, [sm-2] {
    width: 16.666666%;
    box-sizing: border-box;
  }
  
  .sm-3, [sm-3] {
    width: 25%;
    box-sizing: border-box;
  }
  
  .sm-4, [sm-4] {
    width: 33.333333%;
    box-sizing: border-box;
  }
  
  .sm-5, [sm-5] {
    width: 41.666666%;
    box-sizing: border-box;
  }
  
  .sm-6, [sm-6] {
    width: 50%;
    box-sizing: border-box;
  }
  
  .sm-7, [sm-7] {
    width: 58.33%;
    box-sizing: border-box;
  }
  
  .sm-8, [sm-8] {
    width: 66.666666%;
    box-sizing: border-box;
  }
  
  .sm-9, [sm-9] {
    width: 75%;
    box-sizing: border-box;
  }
  
  .sm-10, [sm-10] {
    width: 83.333333%;
    box-sizing: border-box;
  }
  
  .sm-11, [sm-11] {
    width: 91.666666%;
    box-sizing: border-box;
  }
  
  .sm-12, [sm-12] {
    width: 100%;
    box-sizing: border-box;
  }

  .sm-0-5, [sm-0-5] {
    width: 4.1666%;
    box-sizing: border-box;
  }

  .sm-1-5, [sm-1-5] {
    width: 12.49999%;
    box-sizing: border-box;
  }

  .sm-2-5, [sm-2-5] {
    width: 20.83333%;
    box-sizing: border-box;
  }

  .sm-3-5, [sm-3-5] {
    width: 29.16666%;
    box-sizing: border-box;
  }

  .sm-4-5, [sm-4-5] {
    width: 37.49999%;
    box-sizing: border-box;
  }
  
  .sm-5-5, [sm-5-5] {
    width: 45.83333%;
    box-sizing: border-box;
  }
  
  .sm-6-5, [sm-6-5] {
    width: 54.166666%;
    box-sizing: border-box;
  }
  
  .sm-7-5, [sm-7-5] {
    width: 62.4%;
    box-sizing: border-box;
  }

  .sm-8-5, [sm-8-5] {
    width: 70.83333%;
    box-sizing: border-box;
  }

  .sm-9-5, [sm-9-5] {
    width: 79.16666%;
    box-sizing: border-box;
  }

  .sm-9-7-5, [sm-9-7-5] {
    width: 81.24999%;
    box-sizing: border-box;
  }

}

@media only screen and (min-width:759px) and (max-width: 1280px) {
  .show-small-only, [show-small-only] {
    visibility: hidden;
    display: none;
  }

  .hide-for-middle, [hide-for-middle] {
    visibility: hidden;
    display: none;
  }

  .show-large-only, [show-large-only] {
    visibility: hidden;
    display: none;
  }

  .md-1, [md-1] {
    width: 8.333333%;
    box-sizing: border-box;
  }
  
  .md-2, [md-2] {
    width: 16.666666%;
    box-sizing: border-box;
  }
  
  .md-3, [md-3] {
    width: 25%;
    box-sizing: border-box;
  }
  
  .md-4, [md-4] {
    width: 33.333333%;
    box-sizing: border-box;
  }
  
  .md-5, [md-5] {
    width: 41.666666%;
    box-sizing: border-box;
  }
  
  .md-6, [md-6] {
    width: 50%;
    box-sizing: border-box;
  }
  
  .md-7, [md-7] {
    width: 58.333333%;
    box-sizing: border-box;
  }
  
  .md-8, [md-8] {
    width: 66.666666%;
    box-sizing: border-box;
  }
  
  .md-9, [md-9] {
    width: 75%;
    box-sizing: border-box;
  }
  
  .md-10, [md-10] {
    width: 83.333333%;
    box-sizing: border-box;
  }
  
  .md-11, [md-11] {
    width: 91.666666%;
    box-sizing: border-box;
  }
  
  .md-12, [md-12] {
    width: 100%;
    box-sizing: border-box;
  }

  .md-0-5, [md-0-5] {
    width: 4.1666%;
    box-sizing: border-box;
  }

  .md-1-5, [md-1-5] {
    width: 12.49999%;
    box-sizing: border-box;
  }
  
  .md-2-5, [md-2-5] {
    width: 20.83333%;
    box-sizing: border-box;
  }

  .md-3-2-5, [md-3-2-5] {
    width: 27.083%;
    box-sizing: border-box;
  }

  .md-3-5, [md-3-5] {
    width: 29.16666%;
    box-sizing: border-box;
  }

  .md-4-5, [md-4-5] {
    width: 37.49999%;
    box-sizing: border-box;
  }
  
  .md-5-5, [md-5-5] {
    width: 45.83333%;
    box-sizing: border-box;
  }
  
  .md-6-5, [md-6-5] {
    width: 54.166666%;
    box-sizing: border-box;
  }
  
  .md-7-5, [md-7-5] {
    width: 62.4%;
    box-sizing: border-box;
  }

  .md-8-5, [md-8-5] {
    width: 70.83333%;
    box-sizing: border-box;
  }

  .md-8-7-5, [md-8-7-5] {
    width: 72.916%;
    box-sizing: border-box;
  }

  .md-9-5, [md-9-5] {
    width: 79.16666%;
    box-sizing: border-box;
  }

  .md-9-7-5, [md-9-7-5] {
    width: 81.24999%;
    box-sizing: border-box;
  }

}

@media only screen and (min-width: 1280px) {
  .show-small-only, [show-small-only] {
    visibility: hidden;
    display: none;
  }

  .hide-for-large, [hide-for-large] {
    visibility: hidden;
    display: none;
  }

  .lg-1, [lg-1] {
    width: 8.333333%;
    box-sizing: border-box;
  }
  
  .lg-2, [lg-2] {
    width: 16.666666%;
    box-sizing: border-box;
  }
  
  .lg-3, [lg-3] {
    width: 25%;
    box-sizing: border-box;
  }
  
  .lg-4, [lg-4] {
    width: 33.333333%;
    box-sizing: border-box;
  }
  
  .lg-5, [lg-5] {
    width: 41.666666%;
    box-sizing: border-box;
  }
  
  .lg-6, [lg-6] {
    width: 50%;
    box-sizing: border-box;
  }
  
  .lg-7, [lg-7] {
    width: 58.333333%;
    box-sizing: border-box;
  }
  
  .lg-8, [lg-8] {
    width: 66.666666%;
    box-sizing: border-box;
  }
  
  .lg-9, [lg-9] {
    width: 75%;
    box-sizing: border-box;
  }
  
  .lg-10, [lg-10] {
    width: 83.333333%;
    box-sizing: border-box;
  }
  
  .lg-11, [lg-11] {
    width: 91.666666%;
    box-sizing: border-box;
  }
  
  .lg-12, [lg-12] {
    width: 100%;
    box-sizing: border-box;
  }

  .lg-0-5, [lg-0-5] {
    width: 4.1666%;
    box-sizing: border-box;
  }

  .lg-1-5, [lg-1-5] {
    width: 12.49999%;
    box-sizing: border-box;
  }

  .lg-2-2-5, [lg-2-2-5] {
    width: 18.74999%;
    box-sizing: border-box;
  }

  .lg-2-5, [lg-2-5] {
    width: 20.83333%;
    box-sizing: border-box;
  }

  .lg-3-5, [lg-3-5] {
    width: 29.16666%;
    box-sizing: border-box;
  }
  
  .lg-4-5, [lg-4-5] {
    width: 37.49999%;
    box-sizing: border-box;
  }
  
  .lg-5-5, [lg-5-5] {
    width: 45.83333%;
    box-sizing: border-box;
  }
  
  .lg-6-5, [lg-6-5] {
    width: 54.166666%;
    box-sizing: border-box;
  }
  
  .lg-7-5, [lg-7-5] {
    width: 62.4%;
    box-sizing: border-box;
  }

  .lg-8-5, [lg-8-5] {
    width: 70.83333%;
    box-sizing: border-box;
  }

  .lg-9-5, [lg-9-5] {
    width: 79.16666%;
    box-sizing: border-box;
  }

  .lg-9-7-5, [lg-9-7-5] {
    width: 81.24999%;
    box-sizing: border-box;
  }
  
}
