.w-current-page-display-forward {
  animation: -w-current-page-display-forward 0.185s 1;
}

.w-hide-cur-page-back {
  animation: -w-hide-cur-page-back 0.18s 1;
}

.w-current-page-display-back {
  animation: -w-current-page-display-back 0.18s 1;
}

@keyframes -w-current-page-display-forward {
  0% {transform: translateX(85%);}
  50% {transform: translateX(50%);}
  80% {transform: translateX(15%);}
  100% {transform: translateX(0%);}
}

@keyframes -w-hide-cur-page-back {
  0% {width: 90%; left: 10%;}
  50% {width: 65%; left: 35%;}
  80% {width: 45%; left: 55%;}
  100% {width: 0%; left: 100%;}
}

@keyframes -w-current-page-display-back {
  0% {transform: translateX(-75%);}
  50% {transform: translateX(-55%);}
  80% {transform: translateX(-20%);}
  100% {transform: translateX(0%);}
}
