.w-tabbar-row-x {
  z-index:2;
  position: fixed;
  width:100%;
  bottom: 0px;
  left: 0%;
  background: #fbfbfd;
  min-height: 2.2rem;
  max-height: 3.6rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
}

.w-tabbar-row-cell {
  color: #4a4a4f;
  padding: 0.12rem;
  text-align: center;
  border-right:solid 0.05rem #eaeaef;
  vertical-align: middle;
  cursor: pointer;
}

.w-current-page-display {
  z-index:3;
  position: fixed;
  width:100%;
  left: 0%;
  height:100%;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
  top:0%;
  background: #fcfcff;
}

.w-hide-cur-page {
  width:0%;
  height:0%;
  visibility: hidden;
  display: none;
}

.w-common-slide-right {
  padding:0.6rem;
  z-index: 100;
  position:fixed;
  right:0;
  top:0;
  height: 100%;
  width: 79.9%;
  word-wrap: break-word;
  word-break: break-all;
  overflow-y: auto;
  background:#fcfcff;
}

.w-common-slide-right-close {
  z-index: 100;
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width: 20%;
  background:rgba(21,22,25,0.32);
}

.w-hide-common-slide-right {
  width:0;
  height:0;
  visibility: hidden;
  display: none;
}

.w-hide-common-slide-right-close {
  width:0;
  height:0;
  visibility: hidden;
  display: none;
}

.w-global-notify-box {
  z-index:102;
  position:fixed;
  line-height: 118%;
  color:#131415;
  min-height: 10%;
  max-height: 46.5%;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
  word-wrap: break-word;
  background:rgba(62, 64, 68, 0.85);
  box-shadow: 0.25rem 0.25rem 0.25rem #a1a2a3;
  padding:0.5rem;
}

.w-notify-light {
  background: rgba(240, 240, 240, 0.95);
  color: #4a4a4a;
}

.w-notify-bottom {
  right:1.5%;
  bottom:1.35%;
}

.w-notify-top {
  left:50%;
  transform: translateX(-50%);
  top: 5%;
}

.w-prompt-box {
  z-index:101;
  position: fixed;
  word-break: break-all;
  word-wrap: break-word;
  color:#424242;
  background:#f9f9fd;
  box-shadow: 0.2rem 0.2rem 0.2rem #d1d2d3;
  padding: 0.5rem;
  overflow: auto;
  left: 50%;
  transform: translateX(-50%);
}

.w-prompt-box a {
  text-decoration:none;
}

.w-prompt-glass {
  background: rgba(67,68,69, 0.28);
  color: #4a4a4f;
}

.w-prompt-dark {
  background: rgba(81, 82, 83, 0.95);
  color: #efefef;
}

.w-prompt-dark p {
  color: #efefef;
}

.w-prompt-dark span {
  color: #efefef;
}

.w-prompt-dark div {
  color: #efefef;
}

.w-prompt-dark a {
  color: #e2e2ef;
}

.w-prompt-close {
  z-index: 100;
  position: fixed;
  background: rgba(58, 60, 65, 0.18);
  width:99.9%;
  height:99.9%;
  top:0%;
  left:0%;
}

.w-prompt-bottom {
  bottom: 5%;
  min-height: 25%;
  max-height: 65%;
}

.w-prompt-middle {
  bottom: 50%;
  min-height: 28%;
  max-height: 72%;
  transform: translate(-50%, 45%);
}

.w-prompt-top {
  top: 10%;
  min-height: 28%;
  max-height: 58%;
}

.w-prompt-block {
  top:0;
  height:99.9%;
  width: 99.9%;
}

.w-navigate-btn {
  z-index: 4;
  position: fixed;
  bottom: 8%;
  padding: 0.32rem;
  font-size: 80%;
  color: #4a4a4f;
  min-width: 2%;
  max-width: 25%;
  text-align: center;
}

.w-navigate-btn-up {
  bottom: 28%;
}

.w-navigate-btn-bk {
  background: #4a4a4f;
}

.w-navigate-btn-bkrgba {
  background: rgba(67,67,73, 0.45);
}

.w-navigate-btn-bklucency {
  background: rgba(67,67,73, 0.12);
}

.w-navigate-btn a {
  color: #4a4a4f;
  text-decoration: none;
}

.w-navigate-btn-left {
  left: 0.5%;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.w-navigate-btn-right {
  right: 0.5%;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.w-navigate-btn-bottom {
  min-width: 10%;
  max-width: 95%;
  bottom: 1.5%;
  left: 50%;
  transform: translateX(-50%);
}

.w-alert-cover-page {
  z-index: 104;
  position: fixed;
  width:100%;
  height: 100%;
  background: rgba(23,24,26, 0.15);
}

.w-global-alert-info {
  z-index:105;
  position:fixed;
  left:50%;
  transform: translateX(-50%);
  top:5%;
  word-break: break-all;
  word-wrap: break-word;
  line-height:2rem;
  color:#4a4a4a;
  min-height: 4rem;
  max-height: 86%;
  overflow-y: auto;
  background:#f5f6f8;
  padding:0.5rem;
}

.w-global-alert-trans {
  background: rgba(252, 252, 252, 0.025);
}

@media only screen and (max-width: 750px){
  .w-global-alert-info {
    width:78%;
  }

  .w-prompt-display {
    width:92%;
  }

  .w-global-notify-info {
    width:78%;
  }

}

@media only screen and (min-width:751px) and (max-width: 1000px){
  .w-global-alert-info {
    width:69%;
  }

  .w-prompt-display {
    width:86%;
  }

  .w-global-notify-info {
    width:69%;
  }

}

@media only screen and (min-width:1001px) and (max-width:1200px){
  .w-global-alert-info {
    width:58%;
  }

  .w-global-notify-info {
    width:58%;
  }
  
  .w-prompt-display {
    width:80%;
  }
}

@media only screen and (min-width:1201px) and (max-width:1440px){
  .w-global-alert-info {
    width:48%;
  }

  .w-global-notify-info {
    width:48%;
  }
  
  .w-prompt-display {
    width:76%;
  }
}

@media only screen and (min-width: 1441px){
  .w-global-alert-info {
    width:39%;
  }

  .w-global-notify-info {
    width:39%;
  }

  .w-prompt-display {
    width:69%;
  }
}
