@font-face {
  font-family: "JetBrainsMono";
  src: url(/static/font/JetBrainsMono-Regular.ttf);
}

[container] {
  max-width: 1920px;
}

:root {
  font-size: 16px;
  font-family: 'JetBrainsMono,Helvetica,Arial,sans-serif';
  --w-prompt-bg-color: #f7f9fc;
}

h1,h2,h3,h4,h5,h6,p,span,div {
  font-family: 'JetBrainsMono,Helvetica,Arial,sans-serif';
}

button {
  border-radius: 0.08rem;
}

.short-input,[short-input] {
  width: 60%;
}

.middle-input,[middle-input] {
  width: 80%;
}

.long-input,[long-input] {
  width:100%;
}

.editor-area {
  min-height: 25rem;
  overflow: auto;
  margin-top: 0.15rem;
}

.btn-circle,[btn-circle] {
  width: 2.65rem;
  height: 2.65rem;
  border-radius: 1.325rem;
  background-color: #f5f6f8;
  box-shadow: var(--w-common-shadow, -0.12rem 0.2rem 0.23rem rgba(125, 125, 125, 0.56));
  line-height: 2.65rem;
  text-align: center;
  font-size: 0.95em;
  color: #4a4a4f;
  overflow: hidden;
  margin-left: 0.28rem;
  margin-right: 0.28rem;
  cursor: pointer;
  margin-bottom:0.36rem;
  user-select: none;
}

.btn-block,[btn-block] {
  width: 2.8rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.25rem;
}

.btn-circle-orange {
  background: #ee5832;
  color: #424345;
}

.btn-circle-gray {
  background: #d1d2d5;
  color: #424345;
}

.btn-circle-light-gray {
  background: #dfdfe1;
  color: #424345;
}

.btn-circle-dark {
  background: #6a6a6a;
  color: #dfdfdf;
}

.btn-circle-dark-rgba {
  background: rgba(105, 105, 105, 0.58);
  color: #dfdfdf;
}

.btn-circle-ok {
  background: #4268df;
  color: #38373d;
}

.btn-circle-red {
  background: #ca4545;
  color: #424245;
}

.ok-btn {
  background: #3ca8bb;
  color: #424345;
}

input[type=submit] {
  background: #a84e70;
}

input[ok] {
  background: #1ba3a3;
}

.testok {
  background: #d9dde0;
}

.set-btn {
  background: #e44a82;
  color: #424345;
}

.search-btn {
  background: #5e5ef5;
  color: #424345;
}

.alert-btn {
  background: #787980;
  color: #fafafa;
}

.a-menu,[a-menu] {
  text-decoration: none;
  color: #4a4a59;
}

.spana,[spana] {
  cursor: pointer;
  padding: 0.25rem;
  color: #4a4a68;
  line-height: 120%;
  user-select: none;
}

.spana-middle,[spana-middle] {
  font-size: 92%;
}

.spana-small,[spana-small] {
  font-size: 86%;
}

.spana-tiny,[spana-tiny] {
  font-size: 80%;
}

.align-center,[align-center] {
  text-align: center;
}

.align-left, [align-left] {
  text-align: left;
}

.align-right,[align-right] {
  text-align: right;
}

.alert-text, [alert-text] {
  color: #d93516;
}

.middle,[middle] {
  font-size: 92%;
}

.small,[small] {
  font-size: 85%;
}

.tiny,[tiny] {
  font-size: 78%;
}

.helper, [helper] {
  font-size: 85%;
  color: #676869;
}

.italic,[italic] {
  font-style: italic;
}

.helper-light, [helper-light] {
  font-size: 86%;
  color: #dfdfe2;
}

.padding-0-25,[padding-0-25] {
  padding: 0.25rem;
}

.padding-0-5,[padding-0-5] {
  padding: 0.5rem;
}

.padding-0-8,[padding-0-8] {
  padding: 0.8rem;
}

.padding,[padding] {
  padding: 1rem;
}

.mtop-0-5,[mtop-0-5] {
  margin-top: 0.5rem;
}

.mleft-0-5,[mleft-0-5] {
  margin-left: 0.5rem;
}

.mright-0-5,[mright-0-5] {
  margin-right: 0.5rem;
}

.mbottom-0-5,[mbottom-0-5] {
  margin-bottom: 0.5rem;
}

.mtop,[mtop] {
  margin-top: 1rem;
}

.mtop-2, [mtop-2] {
  margin-top: 2rem;
}

.mbottom,[mbottom] {
  margin-bottom: 1rem;
}

.loadinfo-worker {
  border: 0.05rem solid #4556d5;
}

.loadinfo-master {
  border: 0.05rem solid #676869;
}

.image,[image] {
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 0.1rem;
}

.card-head,[card-head] {
  font-weight: 680;
}

.card, [card] {
  padding: 0.6rem;
  border-radius: 0.18rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #efeff2;
  margin: 0.8rem auto;
}

.inset-shadow,[inset-shadow] {
  box-shadow: 0px 0.1rem 1.2rem 0.1rem rgba(15, 15, 15, 0.1),inset 0px -0.1rem 0px 0px rgba(15,15,15,0.1);
}

.card-space, [card-space] {
  margin: 0.38rem auto;
}

.icon-small, [icon-small] {
  width: 1.1rem;
  height: auto;
}

.icon, [icon] {
  width: 1.68rem;
  height: auto;
}

.icon-large,[icon-large] {
  width: 2.5rem;
  height: auto;
}

.icon-huge,[icon-huge] {
  width: 4.2rem;
  height: auto;
}

.block,[block] {
  border: #e5e8e9 solid 0.05rem;
  padding: 0.35rem;
}

.select,[select] {
  background: #efeff2;
}

.select-blue,[select-blue] {
  background: #5689f9;
}

.content-preview {
  padding: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}

table {
  width: 100%;
}

.lh158,[lh158] {
  line-height: 158%;
}

.lh2,[lh2] {
  line-height: 200%;
}

.line,[line] {
  width: 100%;
  height: 0.25rem;
  margin-bottom: 0.58rem;
  border-bottom: solid #cdcdcf 0.08rem;
}

.rotate,[rotate] {
  animation: rotating 0.36s infinite;
}

@keyframes rotating {
  0% {transform: rotateZ(0deg);}
  15% {transform: rotateZ(60deg);}
  35% {transform: rotateZ(120deg);}
  55% {transform: rotateZ(180deg);}
  75% {transform: rotateZ(240deg);}
  95% {transform: rotateZ(300deg);}
  100% {transform: rotateZ(360deg);}
}

.blue-dark, [blue-dark] {
  color: #1573b6;
}

.blue,[blue] {
  color: #2298ed;
}

.dark,[dark] {
  color: #32373d;
}

.dark-light,[dark-light] {
  color: #4f4f4f;
}

.red,[red] {
  color: #cd5245;
}

.pink-red,[pink-red] {
  color:#db3186;
}

.red-light,[red-light] {
  color: #dc3c3c;
}

.red-dark,[red-dark] {
  color: #b73333;
}

.orange,[orange] {
  color: #F17F42;
}

.gray,[gray] {
  color: #666666;
}

.editor-title {
  background: #565758;
  color: #dfdfdf;
}

.hide,[hide] {
  display: none;
  visibility: hidden;
}

.click,[click] {
  cursor: pointer;
}

a:hover,.click:hover,[click]:hover {
  color: #212223;
  text-shadow: 2px 2px 0.5rem #dcdcdf;
}

a:active,.click:active,[click]:active {
  font-size: 98.9%;
  transform: scale(0.9);
}

.click-middle:active,[click-middle]:active {
  font-size: 90%;
  text-decoration: none;
  transform: scale(0.88);
}

.click-small:active,[click-small]:active {
  font-size: 83.5%;
  text-decoration: none;
  transform: scale(0.92);
}

.select-none,[select-none] {
  user-select: none;
}

.center,[center] {
  display: grid;
  place-items: center;
}

.circle-image,[circle-image] {
  border-radius: 50%;
}