@font-face {
  font-family: "JetBrainsMono";
  src: url(/static/font/JetBrainsMono-Regular.ttf);
}

[container] {
  max-width: 1920px;
}

:root {
  font-size: 16px;
  font-family: 'JetBrainsMono,Helvetica,Arial,sans-serif';
  --w-prompt-bg-color: #f7f9fc;
}

h1,h2,h3,h4,h5,h6,p,span,div {
  font-family: 'JetBrainsMono,Helvetica,Arial,sans-serif';
}

button {
  border-radius: 0.08rem;
}

.short-input,[short-input] {
  width: 60%;
}

.middle-input,[middle-input] {
  width: 80%;
}

.long-input,[long-input] {
  width:100%;
}

.editor-area {
  min-height: 25rem;
  overflow: auto;
  margin-top: 0.15rem;
}

.btn-circle,[btn-circle] {
  width: 2.64rem;
  height: 2.64rem;
  border-radius: 1.32rem;
  background-color: #f5f6f8;
  box-shadow: var(--w-common-shadow, -0.12rem 0.2rem 0.23rem rgba(125, 125, 125, 0.56));
  line-height: 2.64rem;
  text-align: center;
  font-size: 89%;
  color: #4a4a4f;
  overflow: hidden;
  margin-left: 0.28rem;
  margin-right: 0.28rem;
  cursor: pointer;
  margin-bottom:0.36rem;
  user-select: none;
}

.btn-block,[btn-block] {
  width: 2.8rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.25rem;
}

.btn-circle-orange {
  background: #ee5832;
  color: #424345;
}

.btn-circle-gray {
  background: #d1d2d5;
  color: #424345;
}

.btn-circle-light-gray {
  background: #dfdfe1;
  color: #424345;
}

.btn-circle-dark {
  background: #6a6a6a;
  color: #dfdfdf;
}

.btn-circle-dark-rgba {
  background: rgba(105, 105, 105, 0.58);
  color: #dfdfdf;
}

.btn-circle-ok {
  background: #4268df;
  color: #38373d;
}

.btn-circle-red {
  background: #ca4545;
  color: #424245;
}

.ok-btn {
  background: #3ca8bb;
  color: #424345;
}

input[type=submit] {
  background: #a84e70;
}

input[ok] {
  background: #1ba3a3;
}

.testok {
  background: #d9dde0;
}

.set-btn {
  background: #e44a82;
  color: #424345;
}

.search-btn {
  background: #5e5ef5;
  color: #424345;
}

.alert-btn {
  background: #787980;
  color: #fafafa;
}

.a-menu,[a-menu] {
  text-decoration: none;
  color: #4a4a59;
}

.spana,[spana] {
  cursor: pointer;
  padding: 0.25rem;
  color: #4a4a68;
  line-height: 120%;
  user-select: none;
}

.spana-middle,[spana-middle] {
  font-size: 92%;
}

.spana-small,[spana-small] {
  font-size: 86%;
}

.spana-tiny,[spana-tiny] {
  font-size: 80%;
}

.align-center,[align-center] {
  text-align: center;
}

.align-left, [align-left] {
  text-align: left;
}

.align-right,[align-right] {
  text-align: right;
}

.alert-text, [alert-text] {
  color: #d93516;
}

.middle,[middle] {
  font-size: 92%;
}

.small,[small] {
  font-size: 85%;
}

.tiny,[tiny] {
  font-size: 78%;
}

.helper, [helper] {
  font-size: 85%;
  color: #676869;
}

.italic,[italic] {
  font-style: italic;
}

.helper-light, [helper-light] {
  font-size: 86%;
  color: #dfdfe2;
}

.padding-0-25,[padding-0-25] {
  padding: 0.25rem;
}

.padding-0-5,[padding-0-5] {
  padding: 0.5rem;
}

.padding-0-8,[padding-0-8] {
  padding: 0.8rem;
}

.padding,[padding] {
  padding: 1rem;
}

.mtop-0-5,[mtop-0-5] {
  margin-top: 0.5rem;
}

.mleft-0-5,[mleft-0-5] {
  margin-left: 0.5rem;
}

.mright-0-5,[mright-0-5] {
  margin-right: 0.5rem;
}

.mbottom-0-5,[mbottom-0-5] {
  margin-bottom: 0.5rem;
}

.mtop,[mtop] {
  margin-top: 1rem;
}

.mtop-2,[mtop-2] {
  margin-top: 2rem;
}

.mbottom,[mbottom] {
  margin-bottom: 1rem;
}

.loadinfo-worker {
  border: 1px solid #4556d5;
}

.loadinfo-master {
  border: 1px solid #676869;
}

.image,[image] {
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 0.1rem;
}

.card-head,[card-head] {
  font-weight: 680;
}

.card, [card] {
  padding: 0.6rem;
  border-radius: 0.18rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #efeff2;
  margin: 0.8rem auto;
}

.inset-shadow,[inset-shadow] {
  box-shadow: 0px 0.1rem 1.2rem 0.1rem rgba(15, 15, 15, 0.1),inset 0px -0.1rem 0px 0px rgba(15,15,15,0.1);
}

.card-space, [card-space] {
  margin: 0.38rem auto;
}

.icon-small, [icon-small] {
  width: 1.1rem;
  height: auto;
}

.icon, [icon] {
  width: 1.68rem;
  height: auto;
}

.icon-large,[icon-large] {
  width: 2.5rem;
  height: auto;
}

.icon-huge,[icon-huge] {
  width: 4.2rem;
  height: auto;
}

.block,[block] {
  border: #e5e8e9 solid 1px;
  padding: 0.35rem;
}

.select,[select] {
  background: #efeff2;
}

.select-blue,[select-blue] {
  background: #5689f9;
}

.content-preview {
  padding: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}

table {
  width: 100%;
}

.lh158,[lh158] {
  line-height: 158%;
}

.lh2,[lh2] {
  line-height: 200%;
}

.line,[line] {
  width: 100%;
  height: 0.25rem;
  margin-bottom: 0.58rem;
  border-bottom: solid #cdcdcf 0.08rem;
}

.blue-dark, [blue-dark] {
  color: #1573b6;
}

.blue,[blue] {
  color: #2298ed;
}

.dark,[dark] {
  color: #32373d;
}

.dark-light,[dark-light] {
  color: #4f4f4f;
}

.red,[red] {
  color: #cd5245;
}

.pink-red,[pink-red] {
  color:#db3186;
}

.red-light,[red-light] {
  color: #dc3c3c;
}

.red-dark,[red-dark] {
  color: #b73333;
}

.orange,[orange] {
  color: #F17F42;
}

.gray,[gray] {
  color: #666666;
}

.editor-title {
  background: #565758;
  color: #dfdfdf;
}

.hide,[hide] {
  display: none;
  visibility: hidden;
}

.click,[click] {
  cursor: pointer;
}

a:hover,.click:hover,[click]:hover {
  color: #212223;
  text-shadow: 2px 2px 0.5rem #dcdcdf;
}

a:active,.click:active,[click]:active {
  font-size: 98.9%;
  transform: scale(0.9);
}

.click-middle:active,[click-middle]:active {
  font-size: 90%;
  text-decoration: none;
  transform: scale(0.88);
}

.click-small:active,[click-small]:active {
  font-size: 83.5%;
  text-decoration: none;
  transform: scale(0.92);
}

.select-none,[select-none] {
  user-select: none;
}

.center,[center] {
  display: grid;
  place-items: center;
}

.circle-image,[circle-image] {
  border-radius: 50%;
}

.am-notice1,[am-notice1] {
  animation: notice 1.5s 2;
}

.am-notice2,[am-notice2] {
  animation: notice2 1.5s 2;
}

.am-notice3,[am-notice3] {
  animation: notice3 1.5s 2;
}

.am-notice-forever,[am-notice-forever] {
  animation: notice 2.5s infinite;
}

.am-notice-t5,[am-notice-t5] {
  animation: notice 2.5s 5;
}

.am-rotate,[am-rotate] {
  animation: rotate 0.9s 1;
}

.am-look,[am-look] {
  animation: look 0.6s 1;
}

.am-heartbeat,[am-heartbeat] {
  animation: heartbeat 2s infinite;
}

.am-heartbeat-once,[am-heartbeat-once] {
  animation: heartbeat 2s 1;
}

.am-heartbeat-2,[am-heartbeat-2] {
  animation: heartbeat 2s 2;
}

.am-broadcast,[am-broadcast] {
  animation: broadcast 2s infinite;
}

.am-broadcast-once,[am-broadcast-once] {
  animation: broadcast 2s 1;
}

@keyframes look {
  0% {transform: scale(0.3);}
  25% {transform: scale(0.5);}
  45% {transform: scale(0.7);}
  55% {transform: scale(0.9);}
  80% {transform: scale(1);}
  100% {transform: scale(1);}
}

.am-rotate-forever-slow,[am-rotate-forever-slow] {
  animation: rotate 1.5s infinite;
}

.am-rotate-forever,[am-rotate-forever] {
  animation: rotate 0.35s infinite;
}

.am-rotate-forever2,[am-rotate-forever2] {
  animation: rotate 0.23s infinite;
}

.am-rotate-y-forever,[am-rotate-y-forever] {
  animation: rotatey 0.23s infinite;
}

.am-rotate-y-forever-slow,[am-rotate-y-forever-slow] {
  animation: rotatey 1.5s infinite;
}

.am-rotate-y-forever-delay,[am-rotate-y-forever-delay] {
  animation: rotateydy 5s infinite;
}

.am-rotate-3d-forever,[am-rotate-3d-forever] {
  animation: rotate3d 3.5s infinite;
}

.am-rotate-3d,[am-rotate-3d] {
  animation: rotate3d 3.5s 1;
}

@keyframes heartbeat {
  0% {transform: scale(0.86);}
  5% {transform: scale(0.95);}
  15% {transform: scale(1.0);}
  20% {transform: scale(1.1);}
  25% {transform: scale(1.13);}
  30% {transform: scale(1.1);}
  35% {transform: scale(1.1);}
  40% {transform: scale(1.0);}
  45% {}
  50% {}
  55% {}
  60% {}
  65% {}
  70% {}
  75% {}
  80% {}
  85% {}
  90% {}
  95% {}
  100% {}
}

@keyframes broadcast {
  0% {transform: scale(0.86);}
  5% {transform: scale(0.95);}
  15% {transform: scale(1.0);}
  20% {transform: scale(1.1);}
  25% {transform: rotateZ(-15deg);}
  30% {transform: rotateZ(-15deg);}
  35% {transform: scale(1.13);}
  40% {transform: rotateZ(-15deg);}
  45% {transform: rotateZ(-15deg);}
  50% {transform: rotateZ(-15deg);}
  55% {transform: scale(1.1);}
  60% {transform: scale(1.1);}
  65% {transform: scale(1.0);}
  70% {}
  75% {}
  80% {}
  85% {}
  90% {}
  95% {}
  100% {}
}

@keyframes notice {
  0% {transform: scale(0.9);}
  5% {transform: scale(0.95);}
  15% {transform: scale(1.0);}
  20% {transform: scale(1.1);}
  25% {transform: scale(1.0);}
  30% {transform: rotateX(100deg);}
  35% {transform: rotateX(180deg);}
  40% {transform: rotateX(240deg);}
  45% {transform: rotateX(300deg);}
  50% {transform: rotateX(360deg);}
  55% {}
  60% {}
  65% {}
  70% {}
  75% {}
  80% {}
  85% {}
  90% {}
  95% {}
  100% {}
}

@keyframes notice2 {
  0% {transform: scale(0.9);}
  5% {transform: scale(0.95);}
  10% {transform: scale(1.0);}
  25% {transform: scale(1.05);}
  35% {transform: scale(1.0);}
  45% {transform: rotateZ(100deg);}
  55% {transform: rotateZ(240deg);}
  65% {transform: rotateZ(360deg);}
  100% {transform: scale(1.0);}
}

@keyframes rotate {
  0% {transform: rotateZ(30deg);}
  16% {transform: rotateZ(60deg);}
  24% {transform: rotateZ(90deg);}
  32% {transform: rotateZ(120deg);}
  40% {transform: rotateZ(150deg);}
  48% {transform: rotateZ(180deg);}
  56% {transform: rotateZ(210deg);}
  64% {transform: rotateZ(240deg);}
  72% {transform: rotateZ(270deg);}
  80% {transform: rotateZ(300deg);}
  88% {transform: rotateZ(330deg);}
  100% {transform: rotateZ(360deg);}
}

@keyframes rotatey {
  0% {transform: rotateY(30deg);}
  16% {transform: rotateY(60deg);}
  24% {transform: rotateY(90deg);}
  32% {transform: rotateY(120deg);}
  40% {transform: rotateY(150deg);}
  48% {transform: rotateY(180deg);}
  56% {transform: rotateY(210deg);}
  64% {transform: rotateY(240deg);}
  72% {transform: rotateY(270deg);}
  80% {transform: rotateY(300deg);}
  88% {transform: rotateY(330deg);}
  100% {transform: rotateY(360deg);}
}

@keyframes rotateydy {
  0% {transform: rotateY(30deg);}
  5% {transform: rotateY(60deg);}
  10% {transform: rotateY(90deg);}
  15% {transform: rotateY(120deg);}
  20% {transform: rotateY(150deg);}
  25% {transform: rotateY(180deg);}
  30% {transform: rotateY(210deg);}
  35% {transform: rotateY(240deg);}
  40% {transform: rotateY(270deg);}
  45% {transform: rotateY(300deg);}
  50% {transform: rotateY(330deg);}
  55% {transform: rotateY(360deg);}
  60% {}
  65% {}
  70% {}
  75% {}
  80% {}
  85% {}
  90% {}
  100% {}
}

@keyframes rotate3d {
  0% {transform: rotateZ(30deg);}
  5% {transform: rotateZ(60deg);}
  10% {transform: rotateZ(90deg);}
  15% {transform: rotateZ(120deg);}
  20% {transform: rotateZ(180deg);}
  25% {transform: rotateZ(240deg);}
  30% {transform: rotateZ(300deg);}
  35% {transform: rotateZ(360deg);}

  40% {transform: rotateX(40deg);}
  45% {transform: rotateX(100deg);}
  50% {transform: rotateX(150deg);}
  55% {transform: rotateX(200deg);}
  60% {transform: rotateX(270deg);}
  65% {transform: rotateX(300deg);}
  70% {transform: rotateX(360deg);}

  75% {transform: rotateY(60deg);}
  80% {transform: rotateY(120deg);}
  85% {transform: rotateY(180deg);}
  90% {transform: rotateY(240deg);}
  95% {transform: rotateY(300deg);}
  100% {transform: rotateY(360deg);}

}

.move-up {
  animation: moveup 2.5s 1;
}

.move-up-end {
  transform: translateY(-323%);
}

@keyframes moveup {
  0% {transform: translateY(90%);}
  10% {transform: translateY(50%);}
  20% {transform: translateY(0%);}
  30% {transform: translateY(-50%);}
  40% {transform: translateY(-90%);}
  50% {transform: translateY(-135%);}
  60% {transform: translateY(-180%);}
  70% {transform: translateY(-240%);}
  80% {transform: translateY(-300%);}
  90% {transform: translateY(-310%);}
  95% {transform: translateY(-320%);}
  100% {transform: translateY(-323%);}
}

@keyframes moveupend {
  0% {transform: translateY(-323%);}
  20% {transform: translateY(-325%);}
  40% {transform: translateY(-327%);}
  60% {transform: translateY(-330%);}
  80% {transform: translateY(-331%);}
  100% {transform: translateY(-333%);}
}
